html,
body {
  margin: 0;
  color: $text;
  letter-spacing: 0.5px;
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

// body {
//   padding: 5rem 0 0 0;
// }


*, *:hover {
  @include transition(background-color .25s linear,
                      color .10s linear,
                      margin .25s linear,
                      opacity .25s linear,
                      filter .25s linear,
                      visibility .25s linear,
                      transform .25s linear,
                      border-color .25s linear);
}

.middle {
  vertical-align: middle;
}

label::before {
  content: '' !important;
}

// 页面上表格样式
.display-table.el-table {
    border: 0;

    &::after,
    &::before {
      content: '';
      background: transparent;
    }


    th {
      border: 0;
    }

    td {
      border: 0;
    }
    .head {
      background: $left-menu-bg;
      color: $white;
    }

    .el-button {
      margin: 0 .3rem 0 0;
    }
  }

.line {
  text-align: center;
}

.el-dialog--small {
  width: 500px;
}


.el-dialog__body {
  padding: 20px  20px 0 !important;
  max-height: 480px;
  overflow: auto;
}

.el-dialog__footer {
  text-align: center;
}

// 清除浮动
.clearfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $disabled;
  font-size: 1rem;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $disabled;
  font-size: 1rem;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $disabled;
  font-size: 1rem;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $disabled;
  font-size: 1rem;
}


::-webkit-scrollbar {
  width: .5rem;
  height: .8rem;
  background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95,95,95,.4);
  transition: all .2s;
  border-radius: .5rem;

  &:hover {
    background-color: rgba(95,95,95, .7);
  }
}

// input 为number 在火狐浏览器下的bug
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.common-css .left-menu .el-tree > .el-tree-node .el-tree-node:hover {
  color: $white !important;
}
// 左右结构样式
.common-css {
  display: flex;
  height: 100%;

  .left-menu {
    padding-top: 16px;
    width: 316px;
    min-width: 316px;
    height: calc(100% + 4px);
    background: #435A6C;
    overflow: auto;
    text-align: center;

    .el-tree {
      width: 260px;
      margin: 0 auto;
      text-align: left;
      background: transparent;
      color: $white;
      border: none;

      > .el-tree-node {
        margin-bottom: 16px;
        overflow: hidden;

        > .el-tree-node__content {
          border-radius: 6px;
          background: $theme;

          > .el-tree-node__expand-icon {
            border-left-color: $white;
            transform: translateX(230px);
            &.expanded {
              transform: translateX(230px) rotate(90deg);
            }
          }
        }
        .el-tree-node {
          margin-top: 20px;
          border-radius: 6px;
          &:hover {
            color: $theme;
            border-radius: 6px;
            overflow: hidden;
          }
        }

        > .el-tree-node__children {
          > .is-expanded, .is-current {
            > .el-tree-node__content {
              color: $theme;
              border-radius: 6px;
            }
          }
          .el-tree-node__children {
            .is-current > .el-tree-node__content {
              color: $theme !important;
            }
          }
        }
      }
    }
  }

  .right-content {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    // min-width: 1000px;
    background: #F9FAFC;
  }

  .right {
    background: #f1f2f7;
  }
}

// 弹框公共样式
.el-dialog {
  border-radius: 6px !important;
  width: 550px !important;

  .el-dialog__header {
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid $border-color;
  }

  .el-dialog__title {
    font-weight: normal;
    color: #7bb2fe !important;
  }

  .el-dialog__body {
    padding: 30px 40px;
  }

  .close {
    position: absolute;
    top: 14px;
    right: 14px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e0e7ec;
    color: #bcc6d3;
    line-height: 24px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #ff6040;
      color: #fff;
    }
  }

  .el-dialog__footer {
    text-align: center;
  }
}



.el-loading-spinner {
  position: fixed !important;
  left: 8%;
  right: 0;
}

.el-loading-mask {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
