@font-face {
  font-family: 'iconfont';  /* project id 387638 */
  src: url('//at.alicdn.com/t/font_387638_ob6apixyjn12a9k9.eot');
  src: url('//at.alicdn.com/t/font_387638_ob6apixyjn12a9k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_387638_ob6apixyjn12a9k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_387638_ob6apixyjn12a9k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_387638_ob6apixyjn12a9k9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before { content: "\e613"; }

.icon-release:before { content: "\e928"; }

.icon-set:before { content: "\e622"; }

.icon-look:before { content: "\e62d"; }

.icon-act:before { content: "\e6c3"; }

.icon-delete:before { content: "\e60b"; }

.icon-edit:before { content: "\e66b"; }

.icon-check:before { content: "\e7de"; }

.icon-clone:before { content: "\e696"; }

.icon-start:before { content: "\e63a"; }

.icon-group:before { content: "\e600"; }

.icon-adjust:before { content: "\e64d"; }

.icon-quxiao:before { content: "\e6d2"; }

.icon-shangyi:before { content: "\e89d"; }

.icon-xiayi:before { content: "\e89c"; }

.icon-zhanghao:before { content: "\e601"; }

.icon-mima:before { content: "\e6b0"; }

.icon-submit:before { content: "\e653"; }

.icon-score:before { content: "\e6b9"; }

.icon-signed:before { content: "\e65c"; }

.icon-sousuo:before { content: "\e64b"; }

.icon-sanjiao-down:before { content: "\e791"; }

.icon-sanjiao-up:before { content: "\e78f"; }

.icon-you:before { content: "\e63f"; }

