  $width: 20px;
  $blue: #20A0FF;
  $lightBlue: #5ac1dd;
  $darkBlue: #3f90cd;
  $gray: #d1dbe5;
  $background: #fafafa;
  $hover: #f6f8fa;
  $red: #FF4949;
  $darkRed: #d9544e;
  $yellow: #efad4c;
  $green: #5ab95c;
  $white: #fff;
  $blackgray: rgb(92,92,92);
  $darkgrey: rgb(75,75,75);
  $content: 1200px;

