body {
    margin: 0px;
    padding: 0px;
    background: #FAFAFA;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    // min-width: 1200px;
}

.bg {
    width: 100%;
}

.bg-blue {
    background: #20A0FF;
}

.radius {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.center {
    margin: 0 auto;
}

.content {
    padding: 0 20px;
    background: white;
    margin-top: 20px;
    border-radius: 4px;
}

.control {
    padding: 20px 0;
    background: white;
}

.toolbar {
    padding: 20px;
    background: white;
}

.el-dialog {
    width: 670px;
    border-radius: 4px;
    .el-dialog__header {
        padding: 30px 50px 0;
    }
    .el-dialog__body {
        padding-bottom: 0;
    }
    .el-dialog__footer {
        padding-top: 0;
        .dialog-footer {
            padding: 0 20px 10px 0;
        }
    }
    .el-form-item {
        width: 90%;
        margin: 0 auto 22px auto;
        .el-form-item__label {
            &:before {
                content: '*';
                color: #ff4949;
                margin-right: 4px;
            }
        }
        .el-form-item__content {
            .el-input {
                width: 95%;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .dialog-remind {
        .el-dialog {
            width: 90%;
        }
        .el-dialog__body {
            padding: 50px 50px 20px;
            p {
                font-size: 1.2rem;
                text-align: center;
            }
            .button-group {
                text-align: center;
                margin-top: 50px;
            }
        }
    }
}
@media screen and (min-width: 1250px) {
    .dialog-remind {
        .el-dialog {
            width: 500px;
        }
        .el-dialog__body {
            padding: 50px 50px 20px;
            p {
                text-align: center;
            }
            .button-group {
                text-align: center;
                margin-top: 50px;
            }
        }
    }
}



.no-content {
    text-align: center;
    line-height: 300px;
}

span {
    word-wrap: break-word;
}

.unRequire {
    .el-form-item__label {
        &:before {
            content: '' !important;
        }
    }
}

.el-tooltip__rel {
    height: 60px;
}

.el-message-box__wrapper {
    z-index: 20000 !important;
}

// 清除浮动
.clearfix {
    &:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

// 指定用户弹出框
.education-teacher-setting {
    width: 487px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #333;
    overflow: hidden;
    .el-dialog--small {
        width: 487px;
        color: #666;
        .el-dialog__title {
            font-weight: bold;
            color: #333;
            font-size: 16px;
            // margin-left: -30px;
        }
        .el-dialog__close.el-icon.el-icon-close {
            margin-right: -50px;
        }
    }
    .education-course-add-content-left {
        height: 348px;
        width: 187px;
        float: left;
        .el-input__inner {
            display: inline-block;
            border: 1px solid #c3c3c3;
            color: #333;
        }
        .education-course-add-tree {
            border: 1px solid #c3c3c3;
            margin-top: 10px;
            height: 302px;
            border-radius: 6px;
            overflow: auto;
            .el-tree.filter-tree {
                border: none;
                // min-width: 300px;

                * {
                    overflow: visible;
                }
            }
        }
    }
    .education-course-add-content-right {
        height: 348px;
        border: 1px solid #c3c3c3;
        width: 234px;
        float: right;
        overflow: auto;
        // padding: 5px;
        box-sizing: border-box;
        &>p {
            width: 100%;
            height: 38px;
            background: #e1e1e1;
            margin: 0;
            box-sizing: border-box;
            &>.span:first-child {
                float: left;
            }
            &>.span:last-child {
                float: right;
            }
        }
        span {
            // padding: 5px;
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #ddd;
            cursor: pointer;
            &:hover {
                border: 1px solid rgb(113, 195, 255);
                color: rgb(113, 195, 255);
            }
            &:active {
                border: 1px solid #ddd;
                color: #666;
            }
            &.span {
                &:hover {
                    color: #666;
                    border: 1px solid #e1e1e1;
                }
            }
            &:not(.span) {
                margin: 6px;
            }
        }
    }
    .education-course-add-content-button {
        height: 59px;
        clear: both;
        text-align: center;
        padding-top: 10px;
        box-sizing: border-box;
        &>.el-button:first-child {
            background: #fff;
            color: #333;
        }
        &>.el-button:last-child {
            border: 1px solid #19b955;
        }
        .el-button {
            width: 87px;
            height: 37px;
            border: none;
            border: 1px solid #c3c3c3;
            color: #fff;
            background: #19b955;
            &:active {
                opacity: 0.8;
            }
        }
    }
}

.emoji-box {
    position: absolute;
    z-index: 10;
    left: -10px;
    top: 24px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
    background: white;
    .el-button {
        position: absolute;
        border: none;
        color: #FF4949;
        right: 12px;
        top: 12px;
        z-index: 10;
    }
    .arrow {
        left: 10px;
    }
}

.el-scrollbar {
    .el-select-dropdown__item {
        height: 48px;
        img {
            vertical-align: middle;
            margin-right: 10px;
        }
        span {
            line-height: 30px !important;
        }
    }
}

// 整体区域
.fadeIn-enter-active,
.fadeIn-leave-active {
    transition: all .3s;
}

.fadeIn-enter,
.fadeIn-leave-active {
    opacity: 0;
}

.fadeIn-enter {
    transform: translateX(31px);
}

.fadeIn-leave-active {
    transform: translateX(-31px);
}

// dowm
.slide-down-enter-active {
    transition: all .5s ease;
}

.slide-down-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-down-enter,
.slide-down-leave-active {
    transform: translateY(20px);
    opacity: 0;
}

.slide-down-move {
    transition: all .5s;
}

.slide-down-active {
    position: absolute !important;
}

// up
.slide-up-enter-active {
    transition: all .5s ease;
}

.slide-up-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-up-enter,
.slide-up-leave-active {
    transform: translateY(-20px);
    opacity: 0;
}

.slide-up-move {
    transition: all .5s;
}

// left
.slide-left-enter-active {
    transition: all .5s ease;
}

.slide-left-leave-active {
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-left-enter,
{
    transform: translateX(20px);
    opacity: 0;
}

.slide-left-leave-active {
    transform: translateX(-20px);
    opacity: 0;
}

.slide-left-move {
    transition: all .5s;
}

// right
.slide-right-enter-active {
    transition: all .5s ease;
}

.slide-right-leave-active {
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-right-enter {
    transform: translateX(-20px);
    opacity: 0;
}

.slide-right-leave-active {
    transform: translateX(20px);
    opacity: 0;
}

.slide-right-move {
    transition: all .5s;
}

// 列表过度
.list-enter-active,
.list-leave-active {
    transition: all .5s;
}

.list-enter,
.list-leave-active {
    opacity: 0;
    transform: translateX(30px);
}

.list-leave-active {
    position: absolute !important;
}

.list-move {
    transition: all .5s;
}

// 卡片部分
.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.fade-move {
    transition: transform .4s;
}

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

// svg
svg path,
svg rect {
    fill: #FF6700;
}

// 滚动条样式
::-webkit-scrollbar-track-piece {
    background-color: #f5f5f5;
    border-left: 1px solid #d2d2d2;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background: #fff;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    display: none;
}

::-webkit-scrollbar-thumb {
    padding-top: 100px;
    background-color: #dadada;
    background-clip: padding-box;
    min-height: 28px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #929292;
}

// input 为number 在火狐浏览器下的bug
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none !important;
//     margin: 0;
// }
input[type="number"] {
    -moz-appearance: textfield;
}